body{
    margin: 0;
    padding: 0;
}
h1, h2, h3{
    font-family: 'Poppins', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

/*Seção de Menu de Navegação*/
#menu{
    height: 55px;
    width: 100%;
    background-color: #022534;
}
#menu ul{
    float: right;
    margin-right: 50px;
}
#menu ul li{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: inline;
    margin-right: 15px;
}

#nav-lista a{
    color: #A0BACC;
    padding: 5px 10px;
    border-radius: 10px;
}
#nav-lista a:hover{
    background-color: white;
    color: #204254;
    box-shadow: 2px 2px 2px gray;
} 

/*Seção Perfil*/
#perfil{
    background-color: #022534;
    padding: 20px 30px;
    height: 250px;
}
#nome{
    font-size: 40px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
}
#profissao{
    margin-top: 0;
}
#profissao, #nome{
    color: white;
    text-align: center;
}
#foto-perfil{
    text-align: center;
}
#foto-perfil img{
    width: 300px;
    border-radius: 50%;
    padding: 10px;
    background-color: white;
}

/*Seção Sobre*/
#sobre{
    background-color: #A0BACC;
    padding: 150px 30px 40px;
}
#sobre h2{
    color: #022534;
}
#sobre hr{
    border-color: #022534;
}
#conteudo-sobre{
    display: flex;
    margin-top: 45px;
    padding: 5px 10px;
}
#foto-sobre img{
    width: 300px;
    padding: 10px;
    background-color: #968EA9;
    border-radius: 10px;
    margin-right: 25px;
}
#paragrafo-sobre{
    width: 65%;
    text-align: justify;
    align-self: center;
    line-height: 1.8;
}
.descricao{
    font-family: 'Open Sans', sans-serif;
}
.cursos a{
    text-decoration: underline;
}
#cidade, .cursos{
    font-size: 18px;
}
.descricao, #cidade a, .cursos a{
    font-weight: bold;
    color:#08546C;
}
#cidade a:hover, .cursos a:hover{
    color:#022534
}

/*Seção Habilidades*/
#habilidades{
    background-color:#08546C;
    padding: 40px 30px;
}
#habilidades h2, #redes h2{
    margin-top: 0;
    color: #A0BACC;
}
#habilidades hr, #redes hr{
    border-color: #A0BACC;
}
#lista-habilidades{
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
}
#lista-habilidades li{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    padding: 10px;
    border: 1px solid #A0BACC;
    border-radius: 10px;
    margin-right: 10px;
    color: #A0BACC;
}
#lista-habilidades li:hover{
    background-color: #A0BACC;
    color:#08546C;
}
.webdesign{
    font-size: 20px;
}
.css, .html, .java, .git{
    font-size: 17px;
}

/*Seção redes Sociais*/
#redes{
    background-color:#022534;
    padding: 40px 30px;
}
/* solução apresentada para mudança de cores de imagens em svg no link: https://qastack.com.br/programming/22252472/how-to-change-the-color-of-an-svg-element */
.redes-lista p a:hover{
    filter: invert(23%) sepia(31%) saturate(3252%) hue-rotate(166deg) brightness(89%) contrast(94%)
}
.redes-lista p a{
    filter: invert(96%) sepia(8%) saturate(5228%) hue-rotate(179deg) brightness(86%) contrast(84%)
}
.redes-lista{
    display: flex;
    justify-content: space-around;
    padding: 0px 90px;
    margin-top: 45px;
}
#redes-lista1{
    margin-top: 0px;
    padding: 0 270px;
    margin-bottom: 45px;
}
.redes-lista p a img{
    width: 90px;
}

/*Rodapé*/
#rodape{
    background-color: #022534;
    padding: 0px 30px 20px 30px;
}
#rodape p{
    text-align: center;
    margin: 0;
}
#rodape a{
    color: #A0BACC;
}
#rodape a:hover{
    color: #08546C;
}