body{
    margin: 0;
    padding: 0;
}
h1, h2, h3{
    font-family: 'Poppins', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

/*Seção de Menu de Navegação*/
#menu{
    height: 55px;
    width: 100%;
    background-color: #022534;
}
#menu ul{
    float: right;
    margin-right: 50px;
}
#menu ul li{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: inline;
    margin-right: 15px;
}

#nav-lista a{
    color: #A0BACC;
    padding: 5px 10px;
    border-radius: 10px;
}
#nav-lista a:hover{
    background-color: white;
    color: #204254;
    box-shadow: 2px 2px 2px gray;
} 

/*Seção Perfil*/
#perfil{
    background-color: #022534;
    padding: 20px 30px;
    height: 250px;
}
#nome{
    font-size: 40px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
}
#profissao{
    margin-top: 0;
}
#profissao, #nome{
    color: white;
    text-align: center;
}
#foto-perfil{
    text-align: center;
}
#foto-perfil img{
    width: 300px;
    border-radius: 50%;
    padding: 10px;
    background-color: white;
}

/*Seção Sobre*/
#sobre{
    background-color: #A0BACC;
    padding: 150px 30px 40px;
}
#sobre h2{
    color: #022534;
}
#sobre hr{
    border-color: #022534;
}
#conteudo-sobre{
    display: flex;
    margin-top: 25px;
    padding: 5px 10px;
}
#foto-sobre{
    width: 300px;
    padding: 10px;
    background-color: #B94A3E;
    border-radius: 10px;
    margin-right: 25px;
}
#paragrafo-sobre{
    width: 65%;
    text-align: justify;
    align-self: center;
}
.descricao{
    font-family: 'Open Sans', sans-serif;
}
.cursos a{
    text-decoration: underline;
}
#cidade, .cursos{
    font-size: 18px;
}

.descricao, #cidade a, .cursos a{
    font-weight: bold;
    color: #022534;
}
#cidade a:hover, .cursos a:hover{
    color:#204254
}
#habilidades, #lista-habilidades li, #redes{
    color: #121B22;
}
.webdesign{
    font-size: 20px;
}
.html{
    font-size: 17px;
}
.css{
    font-size: 17px;
}
/* solução apresentada para mudança de cores de imagens em svg no link: https://qastack.com.br/programming/22252472/how-to-change-the-color-of-an-svg-element*/
#redes-lista p a{
    filter: invert(5%) sepia(4%) saturate(7403%) hue-rotate(165deg) brightness(95%) contrast(89%);
}
#redes-lista p a:hover{
    filter: invert(18%) sepia(6%) saturate(4977%) hue-rotate(157deg) brightness(99%) contrast(84%)
}
#redes-lista p a img{
    width: 70px;
}
#rodape a{
    color: #121B22;
}
#rodape a:hover{
    color: #204254;
}