body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#121B22,#204254, #B94A3E);
}
h1, h2, h3{
    font-family: 'Poppins', sans-serif;
}
li{
    list-style: none;
}
#nome{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0;
}
#profissao{
    margin-top: 0;
}
#profissao, #nome{
    color: white;
    text-align: center;
}
#foto-perfil{
    width: 400px;
    border-radius: 50%;
    border: 10px solid white;
}
#menu{
    height: 55px;
    width: 100%;
    background-color: #B94A3E;
}
#menu ul{
    float: right;
    margin-right: 50px;
}
#menu ul li{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: inline;
    margin-right: 15px;
}

#nav, #sobre{
    color: #B94A3E;
}
.descricao{
    font-family: 'Open Sans', sans-serif;
}
#cidade, #cursos{
    font-size: 18px;
}
a{
    text-decoration: none;
}
#nav-lista a{
    color: #121B22;
    padding: 5px 10px;
    border-radius: 10px;
}
#nav-lista a:hover{
    background-color: white;
    color: #204254;
} 
#perfil{
    clear: both;
}
.descricao, #cidade a, #cursos a{
    color: #B94A3E;
}
#cidade a:hover, #cursos a:hover{
    color:#d18077
}
#habilidades, #lista-habilidades li, #redes{
    color: #121B22;
}
.webdesign{
    font-size: 20px;
}
.html{
    font-size: 17px;
}
.css{
    font-size: 17px;
}
/* solução apresentada para mudança de cores de imagens em svg no link: https://qastack.com.br/programming/22252472/how-to-change-the-color-of-an-svg-element*/
#redes-lista p a{
    filter: invert(5%) sepia(4%) saturate(7403%) hue-rotate(165deg) brightness(95%) contrast(89%);
}
#redes-lista p a:hover{
    filter: invert(18%) sepia(6%) saturate(4977%) hue-rotate(157deg) brightness(99%) contrast(84%)
}
#redes-lista p a img{
    width: 70px;
}
#rodape a{
    color: #121B22;
}
#rodape a:hover{
    color: #204254;
}